/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@600&display=swap');

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

:root {
  --purple:  #1b1121ec; /* R&B */
  --lavender:  #977fa5ec; /* Classical */ 
  --pink: #c29ba6;/* Jazz */
  --silver: #C0C0C0; /* Electronic */
  --grey: #555;/* Other */
  --dark-blue: #181c3d;/* Rap */
  --sky-blue: #628aca; /* Pop */
  --teal: #6c929e; /* Ambient */
  --green: #9aae7cf4;/* Indie */
  --yellow: #cabf78ee; /* Country */
  --orange: #db9f66f0;/* Soul */
  --red: rgba(135, 26, 26, 0.9); /* Reggae */
  --crimson: #470e0e;/* Rock */
  --brown: #7d5f52; /* Gospel */
}

body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.cover {
  width: 450px;
  height: 450px;
  z-index: 2; 
}

.sketch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  width: 95%;
  padding-top: 9%;
  position: relative;
  z-index: 1;
}

.shapes {
  background-color: #470e0e;
  border-radius: 50%;
  z-index: -1;
}

#circle1 {
  margin-top: -63.7%;
  margin-left: 21%;
  height: 40px;
  width: 40px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#shadow1 {
  margin-top: -57%;
  margin-left: 27.5%;
  height: 15px;
  width: 40px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#circle2 {
  margin-top: -51%;
  margin-left: 25.5%;
  height: 40px;
  width: 40px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#shadow2 {
  margin-top: -44.4%;
  margin-left: 32%;
  height: 17px;
  width: 43px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#circle3 {
  margin-top: -56%;
  margin-left: 40%;
  height: 30px;
  width: 40px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#circle4 {
  margin-top: -53.5%;
  margin-left: 55.2%;
  height: 44px;
  width: 43px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#shadow4 {
  margin-top: -46.1%;
  margin-left: 63%;
  height: 17px;
  width: 43px;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#circle5 {
  margin-top: -64%;
  margin-left: 67.5%;
  height: 40px;
  width: 40px;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#shadow5 {
  margin-top: -57.7%;
  margin-left: 73%;
  height: 17px;
  width: 43px;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#falling-circle1 {
  margin-top: -39%;
  margin-left: 46.5%;
  width: 24px;
  height: 10px;
  border-radius: 0 0 12rem 12rem;
  position: absolute;
  background-color: inherit;
}

#falling-circle2 {
  margin-top: -36%;
  margin-left: 49%;
  height: 13px;
  width: 13px;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

@media (min-width: 320px) {
  .large-cover {
    margin-left: auto;
    margin-right: auto;
  }

  .album {
    margin-left: 2rem;
  }
}

@media (min-width: 1025px) {
  .large-cover {
    margin-left: 3.3rem;
    margin-right: auto;
  }

  .album {
    margin-left: 3.3rem;
  }
}

p {
  margin-left: 5rem;
  margin-right: 5rem;
}

.large-cover {
  background-color: transparent;
  width: 900px;
  height: 900px;
}

.large-cover-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d();

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.inner-box {
  height: 94%;
  width: 94%;
  outline-style:solid;
  outline-width: 3.5px;
  outline-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-cover-front,
.large-cover-back {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.large-cover-front {
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-cover-back {
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.sketch-back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  width: 95%;
  padding-top: 5%;
  position: relative;
  z-index: 10000px;
}

#large-circle1 {
  margin-top: -67%;
  margin-left: 19%;
  height: 85px;
  width: 85px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-shadow1 {
  margin-top: -60%;
  margin-left: 26%;
  height: 30px;
  width: 90px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-circle2 {
  margin-top: -53.7%;
  margin-left: 24%;
  height: 85px;
  width: 89px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-shadow2 {
  margin-top: -46.7%;
  margin-left: 30%;
  height: 34px;
  width: 105px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-circle3 {
  margin-top: -59%;
  margin-left: 39.3%;
  height: 65px;
  width: 77px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-circle4 {
  margin-top: -56.2%;
  margin-left: 55.7%;
  height: 93px;
  width: 93px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-shadow4 {
  margin-top: -48.5%;
  margin-left: 63%;
  height: 34.5px;
  width: 100px;
  z-index: inherit;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-circle5 {
  margin-top: -67.5%;
  margin-left: 68.5%;
  height: 85px;
  width: 83px;
  z-index: inherit;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-shadow5 {
  margin-top: -60.5%;
  margin-left: 73%;
  height: 30px;
  width: 100px;
  z-index: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

#large-falling-circle1 {
  margin-top: -41%;
  margin-left: 46.5%;
  width: 50px;
  height: 20px;
  z-index: inherit;
  border-radius: 0 0 12rem 12rem;
  position: absolute;
  background-color: inherit;
}

#large-falling-circle2 {
  margin-top: -38%;
  margin-left: 49%;
  height: 30px;
  width: 30px;
  z-index: inherit;
  /* background-color: rgb(121, 47, 47); */
  border-radius: inherit;
  position: absolute;
  background-color: inherit;
}

.tracklist {
  text-align: center;
  justify-content: center;
  justify-items: center;

  font-family: 'Raleway', sans-serif;
  color: #eee;
  font-size: 170%;
}

.top-songs {
  font-size: 175%;
  margin-bottom: 1rem;
}

.side {
  font-size: 90%;
  margin-bottom: 3rem;
}

/*Basic Vinyl Style*/
.album {
  margin-bottom: 3.5%;
  margin-top: 3.5%;
  box-shadow: 0 7px 10px #aaa;
}

.album,
.album .vinyl {
  width: 450px;
  height: 449px;
  margin-top: 1px;
}

.album > div,
.album .vinyl > div {
  position: absolute;
}

.album .cover {
  z-index: 2;
}

.album .vinyl {
  background-color: #202020;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.album .vinyl .label {
  background-color: #AF8F80;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.album .vinyl .hole {
  background-color: #eee;
  width: 5%;
  height: 5%;
  margin: 45% auto 0 auto;
}

.album .textCon {
  margin-top: 20px;
}

.album .textCon h1,
.album .textCon h3 {
  color: #eee;
  font-size: 70%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  justify-items: center;
  letter-spacing: 3px;
  margin: 5px 0;
}

.album .textCon h3 {
  font-size: 70%;
}


/*Vinyl Style*/

.albumVinyl .round {
  border-radius: 9999px;
}

.cover:hover {
  background-color: rgba(85, 85, 85, 0.9);
}
