@import url(https://fonts.googleapis.com/css?family=Raleway);

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

:root {
  --purple:  #1b1121ec; /* R&B */
  --lavender:  #977fa5ec; /* Classical */ 
  --pink: #c29ba6;/* Jazz */
  --silver: #C0C0C0; /* Electronic */
  --grey: #555;/* Other */
  --dark-blue: #181c3d;/* Rap */
  --sky-blue: #628aca; /* Pop */
  --teal: #6c929e; /* Ambient */
  --green: #9aae7ceb;/* Indie */
  --yellow: #cabf78ee; /* Country */
  --orange: #db9f66f0;/* Soul */
  --red: rgba(135, 26, 26, 0.9); /* Reggae */
  --crimson: #470e0e;/* Rock */
  --brown: #7d5f52; /* Gospel */
}

body {
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
}

.cover {
    width: 450px;
    height: 450px;
    z-index: 2; 
}

@media (min-width: 320px) {
  .large-cover {
    margin-left: auto;
    margin-right: auto;
  }

  .album {
    margin-left: 2rem;
  }
}

@media (min-width: 1025px) {
  .large-cover {
    margin-left: 3.3rem;
    margin-right: auto;
  }

  .album {
    margin-left: 3.3rem;
  }
}

.large-cover {
  background-color: transparent;
  width: 900px;
  height: 900px;
}

.large-cover-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  
  transition: transform 0.6s;
  /* transform: rotateY(180deg); */
  transform-style: preserve-3d;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.large-cover-front,
.large-cover-back {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.large-cover-front {
  /* background:#555; */
  /* background-color: color-mix(in srgb, var(--sky-blue) 50%, var(--dark-blue));   */
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-cover-back {
  /* background:#555; */
  /* background-color: color-mix(in srgb, var(--sky-blue) 50%, var(--dark-blue));   */
  color: white;
  /* transform: rotateY(180deg); */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateY(180deg);
}

.tracklist {
  text-align: center;
  justify-content: center;
  justify-items: center;

  font-family: 'Raleway', sans-serif;
  color: #eee;
  font-size: 170%;
}

.top-songs {
  font-size: 180%;
  margin-bottom: 1.5rem;
}

.side {
  font-size: 85%;
  margin-bottom: 3rem;
}

/*Basic Vinyl Style*/
.album {
  margin-bottom: 3.5%;
  margin-top: 3.5%;
  box-shadow: 0 7px 10px #aaa;
}

.album,
.album .vinyl {
  width: 450px;
  height: 450px;
}

.album > div,
.album .vinyl > div {
  position: absolute;
}

.album .cover {
  z-index: 2;
}

.album .vinyl {
  background-color: #202020;
  z-index: 1;
  transition: all 0.3s ease;
}

.album .vinyl .label {
  background-color: #AF8F80;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.album .vinyl .hole {
  background-color: #eee;
  width: 5%;
  height: 5%;
  margin: 45% auto 0 auto;
}

.album .textCon {
  margin-top: 20px;
}

.album .textCon h1,
.album .textCon h3 {
  color: #eee;
  font-size: 70%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  justify-items: center;
  letter-spacing: 3px;
  margin: 5px 0;
}

.album .textCon h3 {
  font-size: 70%;
}


/*Vinyl Style*/

.albumVinyl .round {
  border-radius: 9999px;
}

.cover:hover {
  background-color: rgba(85, 85, 85, 0.9);
}
