<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="outer-container">
        <div class="album albumVinyl">
            <div class="cover"> 
                <!-- COVER ART -->
            </div>
            <div class="vinyl round">
              <div class="label round">
                <div class="hole round">
                </div>
                <div class="textCon">
                  <h1>Username's</h1>
                  <h3>Personal Vinyl</h3>
                </div>
              </div>
            </div>
        </div>
        <div class="large-cover"> 
            <!-- COVER ART -->
        </div>
    </div>
</body>
</html>