<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>
<body onload="coverColor({{top_genres}})">
    <div class="outer-container">
        <div class="album albumVinyl">
            <div class="cover"> 
                <!-- COVER ART -->
            </div>
            <div class="vinyl round">
            	<div class="label round">
                	<div class="hole round">
                	</div>
                	<div class="textCon">
                  		<h1>{{ name }}'S</h1>
                  		<h3>PERSONAL VINYL</h3>
                	</div>
              	</div>
            </div>
        </div>
        <div class="large-cover" tabIndex="0">
			<div class="large-cover-inner">
			  	<div class="large-cover-front">
					<div class="tracklist">
						<p class="top-songs"> A SIDE<br></p>
						<div class="side">
							{% for i in range(0, 5) %}
								<p>{{ top_tracks[i] }}</p>
							{%endfor%}
						</div>
						<p class="top-songs"> B SIDE<br></p>
						<div class="side">
							{% for i in range(5, 10) %}
								<p>{{ top_tracks[i] }}</p>
							{% endfor %}
						</div>
              		</div>
				</div>
				<div class="large-cover-back">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	</div>
</body>
</html>