<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/main.css">
</head>
<body onload="customize({{top_genres}}, {{ features}})">
    <div class="outer-container">
        <div class="album albumVinyl">
            <div class="cover"> 
				<div class="cover-inner">
					<div class="sketch">
						<img class="sketch" src="../static/imgs/cover-white-fill.png">
					</div>
					<div class="shapes"> 
						<div id="circle1"></div>
						<div id="circle2"></div>
						<div id="circle3"></div>
						<div id="circle4"></div>
						<div id="circle5"></div>
						<div id="falling-circle1"></div>
						<div id="falling-circle2"></div>
					</div>
					<div class="shadows">
						<div id="shadow1"></div>
						<div id="shadow2"></div>
						<div id="shadow4"></div>
						<div id="shadow5"></div>
					</div>
					
				</div>
            </div>
            <div class="vinyl round">
            	<div class="label round">
                	<div class="hole round">
                	</div>
                	<div class="textCon">
                  		<h1>{{ name }}'S</h1>
                  		<h3>PERSONAL VINYL</h3>
                	</div>
              	</div>
            </div>
        </div>
        <div class="large-cover" tabIndex="0">
			<div class="large-cover-inner">
			  	<div class="large-cover-front">
					<div class="inner-box">
						<div class="tracklist">
							<p class="top-songs"> A SIDE<br></p>
							<!-- TODO: What if not enough for full affinity data set -->
							<div class="side1">
								{% for i in range(0, 5) %}
									<p>{{ top_tracks[i] }}</p>
								{%endfor%}
							</div>
							<p class="top-songs"> B SIDE<br></p>
							<div class="side2">
								{% for i in range(5, 10) %}
									<p>{{ top_tracks[i] }}</p>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="large-cover-back">
					<div class="large-cover-back-inner">
						<div class="back">
							<img class="sketch-back" src="../static/imgs/cover-white-fill.png">
							<div class="shapes"> 
								<div id="large-circle1"></div>
								<div id="large-circle2"></div>
								<div id="large-circle3"></div>
								<div id="large-circle4"></div>
								<div id="large-circle5"></div>
								<div id="large-falling-circle1"></div>
								<div id="large-falling-circle2"></div>
							</div>	
							<div class="shadows">
								<div id="large-shadow1"></div>
								<div id="large-shadow2"></div>
								<div id="large-shadow4"></div>
								<div id="large-shadow5"></div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
	</div>
</body>
</html>